.hero{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 20px;
    height: 100vh;
 
}
.hero-text h1{
    text-align: left;
    font-size: 34px;
}
.hero-text h1 span{
    background: linear-gradient(267deg, #000cff 2%, #36b6ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-text p{
    text-align: left;
    font-size: 16px;
    line-height: 23px;
    width:90%
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0;
}
.hero-connect{
    padding: 15px 20px;
    border-radius: 50px;
    background: linear-gradient(264deg, #000cff -5.09%, #36b6ff 106.28%);
    cursor: pointer;
}
.hero-resume{
    padding: 15px 40px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
}
.hero-connect:hover{
    background: linear-gradient(267deg, #36b6ff 0.36%, #000cff 102.06%);
}
.hero-resume:hover{
    background: #fff;
    color: #000;
    font-weight: 600;
}