
* {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 80px;
}

.folio-detail {
    width: 100%;
}

.TITLE {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

/* 
.flayer-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.flayer-header h1 {
  font-size: 34px;
  text-align: center;
  align-items: center;
} */