.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.nav-logo {
  width: 42px;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.nav-menu li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}
.nav-menu li a:hover {
  color: #36b6ff;
}
.nav-connect a {
  text-decoration: none;
  color: #fff;
}
.nav-connect {
  padding: 15px 20px;
  border-radius: 50px;
  background: linear-gradient(267deg, #000cff 0.36%, #36b6ff 102.06%);
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.5s;
}
.nav-connect:hover {
  background: linear-gradient(267deg, #36b6ff 0.36%, #000cff 102.06%);
}
